:root {
  --primary-color: rgb(233, 170, 159);
  --secondary-color: rgb(100, 100, 100);
  --tertiary-color: rgb(220, 220, 220);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", Arial, sans-serif;
}

main{
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
}


nav ul li:hover {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: 5px;
  text-shadow: 50px;
  transition: 0.5s ease;
  text-decoration: none;
}
.nav-item{
  color: var(--secondary-color)
}
nav ul li:active{
  color: var(--primary-color);
}


ul{
  list-style-type: none;
  color: var(--primary-color);
  text-decoration: none;
}

footer a:hover{
  color: var(--primary-color);
}

h1 p a:hover{
  color: var(--primary-color);
}

p span a:hover{
  color: var(--primary-color);
}

div p a:hover{
  color: var(--primary-color);
}

/* Button Styling */

button {
  outline: none;
  border-radius: 25px;
  display: inline-block;
  font-weight: bolder;
  font-size: 22px;
  line-height: 22px;
  margin: 15px;
  margin: 16px, 16px, 16px, 20px;
  padding: 14px 34px;
  top: -4px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

button:hover {
  top: -3px;
}

button:active {
  top: 0;
}